.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    background: gray;
    padding: 30px;
}


.navbarName {
    color: white;
    text-decoration: none;
    font-size: 20px; 
}

.allNavItems {
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    list-style: none;
    text-align: center;
    justify-content: flex-end; 
}

.navItem {
    display: flex;
    align-items: center;
    height: 10vh;
}


.navItem a{
    font-size: 20px;
    color: white;
    text-decoration: none;
    /* transition: 0.5s ease-in-out; */
    padding: 12px 15px;
    border-radius: 10px;
}


.navItem a:hover{
   background: #49f;
}